@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

:root {
  --font-family: "Ubuntu", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #00bf72 1.84%, #a8eb12 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #00bf72 -13.86%, #a8eb12 99.55%);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #a8eb12;
}

/*  Customized Scrollbar */
::-webkit-scrollbar {
  width: 14px;
  height: 21px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #00aeff, #a8eb12);
  border-radius: 10px;
}

@media screen and (max-width: 650px) {
  ::-webkit-scrollbar {
    width: 7px;
    height: 21px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #00aeff, #a8eb12);
    border-radius: 10px;
  }
}
